<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RCONServerIP" value="" />
    <add key="RCONServerPort" value="47200" />
    <!-- Default RCON port is 47200 for Battlefield 3-->
    <add key="RCONServerPassword" value=""/>
  </appSettings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
