<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RCONServerIP" value="178.236.68.211" />
    <!-- Default RCON server ip/host for Battlefield 3-->
    <add key="RCONServerPort" value="47200" />
    <!-- Default RCON port is 47200 for Battlefield 3-->
    <add key="RCONServerPassword" value="jolt"/>
    <!-- Default RCON server password for Battlefield 3-->
    <add key="WebserviceHost" value="*"/>
    <!-- Webservice host can be a specific dns you whant the webservice to listen to, * = all hosts -->
    <add key="WebservicePort" value="80"/>
    <!-- Webservice port need to be open in your router if you whant to connect with your phone over internet, but network works also -->
    <add key="WebserviceAdminUsername" value="admin"/>
    <add key="WebserviceAdminPassword" value="jolt"/>
    <!-- Authentications to get to the web interface -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>